@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap');

:root {
    --cor0: #020416;
    --cor1: #010a26;
    --cor2: #0d9fff;
    --cor3: #00484f;
    --cor4: #1c004f;
    --cor5: #ffffff;

    --fonte-padrao: 'Poppins';
    --fonte-destacamento: Tahoma, sans-serif;
    --fonte-titulo: 'Salsa';
    --fonte-titulo2: Arial, Helvetica, sans-serif;
}


/*Forms Login======================================================================================================================================================================*/

/*divisão login---------------------------------------------------------------------------------------------*/

.divisaologin {
    text-align: center;
    /* Centraliza o conteúdo */
    padding-top: 20px;
    padding-bottom: 20px;
}

.divisaologin p {
    font-size: 24px;
    /* Tamanho da fonte para o texto "Login" */
    margin-bottom: 10px;
    /* Espaço entre o texto e a linha */
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;
}

.divisaologin .linhalogin {
    width: 300px;
    /* Largura da linha (ajuste conforme necessário) */
    height: 2px;
    /* Altura da linha */
    background-color: white;
    /* Cor da linha, você pode alterar para a cor desejada */
    margin: 0 auto;
    /* Centraliza a linha horizontalmente */

}

/*Conteiner da secção login---------------------------------------------------------------------------------*/
#container_login {
    width: 500px;
    height: 550px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 20px;
}

/*Box email-----------------------------------------------------------------------------------------------------*/

#box_email_login {
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
    padding-left: 30px;

}

#box_email_login p {
    text-align: left;
    margin: 0px;
}

#box_email_login input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

/*Box Senha-----------------------------------------------------------------------------------------------------*/

#box_senha_login {
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-left: 30px;
}

#box_senha_login p {
    text-align: left;
    margin: 0px;
}

#box_senha_login input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

/*Box  Lembrar Senha-----------------------------------------------------------------------------------------------------*/

/* #box_lembrar{
    display: inline-block;
    margin-right: 280px;
    padding-top: 10px;
    color: white;
    font-family: var(--fonte-padrao);
    padding-left: 30px;
}

#box_lembrar input{
    text-align: left;
    padding-right: 200px;
    
} Desativado por enquanto */

/*Box  Login----------------------------------------------------------------------------------------------------------*/

#box_login_form {
    text-align: center;
    padding-top: 90px;
}

#box_login_form button {
    display: block;
    margin: auto;
    width: 284px;
    height: 40px;
    border-radius: 10px;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--cor2);

    margin-bottom: 20px;
    transition-duration: 0.8s;
}

#box_login_form a {
    display: block;
    color: white;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    padding-top: 5px;
}

#box_login_form a:hover {
    text-decoration: underline;

}

#box_login_form button:hover {
    transform: scale(1.1);
}



/*Forms Cadastro======================================================================================================================================================================*/

.divisao_cadastrouser {
    text-align: center;
    /* Centraliza o conteúdo */
    padding-top: 20px;
    padding-bottom: 40px;
}

.divisao_cadastrouser p {
    font-size: 24px;
    /* Tamanho da fonte para o texto "Login" */
    margin-bottom: 10px;
    /* Espaço entre o texto e a linha */
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;
}

.divisao_cadastrouser .linha_cadastrouser {
    width: 300px;
    /* Largura da linha (ajuste conforme necessário) */
    height: 2px;
    /* Altura da linha */
    background-color: white;
    /* Cor da linha, você pode alterar para a cor desejada */
    margin: 0 auto;
    /* Centraliza a linha horizontalmente */
}


#container_cadastrouser {
    width: 500px;
    height: 850px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 20px;
}

#select_avatar{
    width: 430px;
    height: 46px;
    border-radius: 10px;
}

#box_img_avatar{
    display: flex;
}

#imgavatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}

#box_nicknameuser {
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
    padding-left: 30px;
}

#box_nicknameuser p {
    text-align: left;
    margin: 0px;
}

#box_nicknameuser input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}



#box_emailuser {
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
    padding-left: 30px;
}

#box_emailuser p {
    text-align: left;
    margin: 0px;
}

#box_emailuser input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

#box_senhauser {
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
    padding-left: 30px;
}

#box_senhauser p {
    text-align: left;
    margin: 0px;
}

#box_senhauser input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

#box_repetir_senhauser {
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
    padding-left: 30px;
}

#box_repetir_senhauser p {
    text-align: left;
    margin: 0px;
}

#box_repetir_senhauser input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

#box_cadastrouser {
    text-align: center;
    padding-top: 30px;
}

#box_cadastrouser button {
    display: block;
    margin: auto;
    width: 284px;
    height: 40px;
    border-radius: 10px;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--cor2);

    margin-bottom: 20px;
    transition-duration: 0.8s;
}


#box_cadastrouser button:hover {
    transform: scale(1.1);
}

#box_voltar_loginuser {
    text-align: center;
    padding-top: 20px;
}

#box_voltar_loginuser a {
    text-decoration: none;
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 16px;
    transition-duration: 0.8s;
}

#box_voltar_loginuser a:hover {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 20px;
}

/*Formulario de configuração da conta=====================================================================================================================================================*/

/*Conteiner da secção forms---------------------------------------------------------------------------------*/

.divisao_configuracao {
    text-align: center;
    /* Centraliza o conteúdo */
    padding-top: 20px;
    padding-bottom: 40px;
}

.divisao_configuracao p {
    font-size: 24px;
    /* Tamanho da fonte para o texto "Login" */
    margin-bottom: 10px;
    /* Espaço entre o texto e a linha */
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;
}

.divisao_configuracao .linha_configuracao {
    width: 300px;
    /* Largura da linha (ajuste conforme necessário) */
    height: 2px;
    /* Altura da linha */
    background-color: white;
    /* Cor da linha, você pode alterar para a cor desejada */
    margin: 0 auto;
    /* Centraliza a linha horizontalmente */
}

#container_configuracao {
    width: 500px;
    height: 700px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 20px;
}

#box_nickname_config ,#box_email_config ,#box_senha_config {
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
    padding-left: 30px;
}

#box_nickname_config p {
    text-align: left;
    margin: 0px;
}

#box_nickname_config input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

#box_email_config p {
    text-align: left;
    margin: 0px;
}

#box_email_config input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

#box_senha_config p {
    text-align: left;
    margin: 0px;
}

#box_senha_config input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

#botoes_config {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

#botoes_config button {
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    color: white;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    transition: 0.8s;
}

#botao_alterar_conta {
    background-image: linear-gradient(to right, #FF7A00 4.24%, #FFB800 79.05%, #FF7A00 100%);
    margin-right: 20px;
    width: 190px;
    height: 60px;
}

#botao_exluir_conta {
    background-image: linear-gradient(to right, #E61717 4.24%, #B33636 79.05%, #804040 100%);
    margin-left: 20px;
    width: 190px;
    height: 60px;
}

#botao_alterar_conta:hover {
    transform: scale(1.1);
}

#botao_exluir_conta:hover {
    transform: scale(1.1);
}

#box_botao_sair{
    width: 100%;
    display: flex;
    padding-top: 20px;
}

#botao_sair_conta{
    margin: auto;
}

/*Formulario de adcionar plataforma==============================================================================================================================================*/

.divisao_plataforma {
    text-align: center;
    /* Centraliza o conteúdo */
    padding-top: 20px;
    padding-bottom: 40px;
}

.divisao_plataforma p {
    font-size: 24px;
    /* Tamanho da fonte para o texto "Login" */
    margin-bottom: 10px;
    /* Espaço entre o texto e a linha */
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;
}

.divisao_plataforma .linha_plataforma {
    width: 300px;
    /* Largura da linha (ajuste conforme necessário) */
    height: 2px;
    /* Altura da linha */
    background-color: white;
    /* Cor da linha, você pode alterar para a cor desejada */
    margin: 0 auto;
    /* Centraliza a linha horizontalmente */
}

#container_plataforma {
    width: 500px;
    height: 490px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 20px;
}

.form_plataforma {
    text-align: center;
}

#box_nome p {
    padding-right: 210px;
}

#box_url p {
    padding-right: 300px;
}

.form_plataforma p {
    font-size: 24px;
    /* Tamanho da fonte para o texto "Login" */
    margin-bottom: 5px;
    /* Espaço entre o texto e a linha */
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;

}

.form_plataforma input {
    width: 421px;
    height: 40px;
    border-radius: 10px;
}

#box_add_plataforma {
    display: flex;
    padding-top: 50px;

}

button {
    width: 180px;
    height: 50px;
    margin: auto;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    font-family: var(--fonte-padrao);
    color: white;
    text-decoration: none;
    transition: 0.8s;
    background-image: linear-gradient(to right, #44a3e3 4.24%, #4471E3 79.05%, #4944E3 100%);
}

button:hover {
    transform: scale(1.1);
}

/*Media query======================================================================================================================================================================*/


@media(max-width: 900px) {
    #container_login {
        width: 350px;
        height: 550px;
        margin: auto;
        background-color: var(--cor1);
        border-radius: 20px;
    }

    #box_email_input {
        padding-left: 10px;
    }

    #box_email_login input {
        width: 280px;
        height: 40px;

    }

    #box_senha_input {
        padding-left: 10px;
    }

    #box_senha_login input {
        width: 280px;
        height: 40px;
    }

    #box_lembrar {
        padding-left: 10px;
    }

    #box_lembrar {
        display: inline-block;
        margin-right: 180px;
        padding-top: 10px;
        color: white;
        font-family: var(--fonte-padrao);

    }

    #box_lembrar input {
        text-align: left;
        padding-right: 200px;

    }

    /*Container_cadastro código adicional ------------------------------------------------*/

    #container_cadastrouser {
        width: 350px;
        height: 850px;
        margin: auto;
        background-color: var(--cor1);
        border-radius: 20px;
    }

    #box_nicknameuser,
    #box_emailuser,
    #box_senhauser,
    #box_repetir_senhauser {
        padding-left: 10px;
    }

    #box_nicknameuser input{
        width: 320px;
        height: 40px;

    }

    #box_nicknameuser select{
        width: 320px;
    }

    #box_senhauser input {
        width: 320px;
        height: 40px;
    }

    #box_emailuser input {
        width: 320px;
        height: 40px;
    }

    #box_repetir_senhauser input {
        width: 320px;
        height: 40px;

    }

    /*Container_configuracao código adicional ------------------------------------------------*/

    #container_configuracao {
        width: 350px;
        
        margin: auto;
        background-color: var(--cor1);
        border-radius: 20px;
    }


    #botao_alterar_conta {
        width: 130px;
    }

    #botao_exluir_conta {
        width: 130px;
    }

    #box_nickname_config input{
        width: 260px;
    }
    #box_email_config input{
        width: 260px;
    }
    #box_senha_config input{
        width: 260px;
    }
    

    /*Formulario add plataforma código adicional ------------------------------------------------*/

    .divisao_plataforma .linha_plataforma {
        width: 260px;
        /* Largura da linha (ajuste conforme necessário) */

    }

    #container_plataforma {
        width: 290px;
        height: 500px;
    }

    #nomeplataforma {
        width: 250px;
    }

    #urlimg {
        width: 250px;
    }

    #box_nome p {
        padding-right: 40px;
    }

    #box_url p {
        padding-right: 120px;
    }
}