@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap');

:root{
    --cor0: #020416;
    --cor1: #010A26;
    --cor2: #0d9fff;
    --cor3: #00484f;
    --cor4: #1c004f;
    --cor5: #ffffff;

    --fonte-padrao: 'Poppins';
    --fonte-destacamento: Tahoma ,sans-serif;
    --fonte-titulo: 'Salsa';
    --fonte-titulo2: Arial, Helvetica, sans-serif;
}

#containercadastrojogo *{
    margin: 0px;
    padding: 0px;
}



/*divisão cadastrar jogo---------------------------------------------------------------------------------------------------*/

.divisaocadastrarjogo {
    text-align: center; /* Centraliza o conteúdo */
    padding-top: 20px;
    padding-bottom: 40px;
}

.divisaocadastrarjogo p {
font-size: 24px; /* Tamanho da fonte para o texto "Login" */
margin-bottom: 10px; /* Espaço entre o texto e a linha */
font-family: var(--fonte-padrao);
font-size: 20px;
color: white;
}

.divisaocadastrarjogo .linhacadastrarjogo {
width: 400px; /* Largura da linha (ajuste conforme necessário) */
height: 2px; /* Altura da linha */
background-color: white; /* Cor da linha, você pode alterar para a cor desejada */
margin: 0 auto; /* Centraliza a linha horizontalmente */
}

/*Conteiner da secção cadastro-----------------------------------------------------------------------------------------------------*/

#containercadastrarjogo{
    width: 530px;
    height: 1090px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 20px;
    text-align: center;
}

#containercadastrarjogo p{
    color: white;
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding-top: 15px;
}

/*Container do formulario atualizar jogo--------------------------------------------------------------------------------------------*/
#containeratualizajogo{
    width: 530px;
    height: 1250px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 20px;
    text-align: center;
}

#containeratualizajogo p{
    color: white;
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding-top: 15px;
}

/*IMG Formulario  atualizar jogo------------*/

#box_img_atualizajogo img{
    border-radius: 20px;
    width: 400px;
    height: 200px;
}


/*Box dentro do container------------------------------------------------------------------------------------------------*/

#box_nomecadastrarjogo,#box_plataformacadastrarjogo ,#box_statuscadastrarjogo ,#box_categoriacadastrarjogo, #box_progressocadastrarjogo, #box_recomendocadastrarjogo, #box_ano_lancamentocadastrarjogo ,#box_descricaocadastrarjogo {
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: white;
}

#box_nomecadastrarjogo,#box_plataformacadastrarjogo ,#box_statuscadastrarjogo ,#box_categoriacadastrarjogo, #box_progressocadastrarjogo, #box_recomendocadastrarjogo, #box_ano_lancamentocadastrarjogo ,#box_descricaocadastrarjogo p{
    text-align: left;
    padding: 0px;
}

#box_descricaocadastrarjogo p{
    padding-top: 15px;
}

#containercadastrarjogo select,input{
    width: 430px;
    height:30px ;
    border-radius: 10px
}

/*Botão adicionar jogo---------------------------------------------------------------------------------------*/

#botao_adicionar_jogo{
    padding-top: 10px;
}

/*Botão adicionar categoria----------------------------------------------------------------------------------*/

#botao_adicionar_categoria{
    padding-top: 10px;
}

/*Container atualizar Jogo----------------------------------------------------------------------------------*/

#containeratualizajogo select,input{
    width: 430px;
    height:30px ;
    border-radius: 10px
}

#box_descricaocadastrarjogo textarea{
    border-radius: 10px;
}

#botao-atualizar-jogo{
    margin-top: 20px;
}

@media(max-width: 900px){

    .divisaocadastrarjogo .linhacadastrarjogo {
        width: 200px; /* Largura da linha (ajuste conforme necessário) */
        height: 2px; /* Altura da linha */
        background-color: white; /* Cor da linha, você pode alterar para a cor desejada */
        margin: 0 auto; /* Centraliza a linha horizontalmente */
    }

    #containercadastrarjogo{
        width: 330px;
        height: 1100px;
        background-color: var(--cor1);
        border-radius: 20px;
    }

    #containercadastrarjogo select,input{
        width: 260px;
        height:30px ;
        border-radius: 10px
    }

    #box_descricaocadastrarjogo textarea{
        border-radius: 10px;
        width: 260px;
    }

    /*Form atualiza game--------------------------------------------------------------------------------------------*/

    #box_img_atualizajogo  img{
        width: 300px;
        height: 180px;
    }

    #containeratualizajogo{
        width: 330px;
        height: 1250px;
        background-color: var(--cor1);
        border-radius: 20px;
        padding: 0px;
        margin: auto;
    }

    #containeratualizajogo select,input{
        width: 260px;
        height:30px ;
        border-radius: 10px
    }

    #box_descricaocadastrarjogo textarea{
        border-radius: 10px;
        width: 260px;
    }
}