

/*divisão add plataforma---------------------------------------------------------------------------------------------*/

.divisao_categoria {
    text-align: center;
    /* Centraliza o conteúdo */
    padding-top: 20px;
    padding-bottom: 20px;
}

.divisao_categoria p {
    font-size: 24px;
    /* Tamanho da fonte para o texto "Login" */
    margin-bottom: 10px;
    /* Espaço entre o texto e a linha */
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;
}

.divisao_categoria .linha_categoria {
    width: 300px;
    /* Largura da linha (ajuste conforme necessário) */
    height: 2px;
    /* Altura da linha */
    background-color: white;
    /* Cor da linha, você pode alterar para a cor desejada */
    margin: 0 auto;
    /* Centraliza a linha horizontalmente */

}

/*Conteiner da secção categoria---------------------------------------------------------------------------------*/
#container_categoria {
    width: 500px;
    height: 450px;
    margin: auto;
    background-color: var(--cor1);
    border-radius: 20px;
}

.form_categoria {
    text-align: center;
}

#box_nome_categoria{
    padding-bottom: 20px;
}

#box_nome_categoria p {
    padding-right: 230px;
    font-size: 24px;
    margin-bottom: 10px;
    /* Espaço entre o texto e a linha */
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;
}

#nomeplataforma{
    width: 420px;
}

#box_add_categoria{
    padding-bottom: 50px;
}

#box_remover_categoria select{
    width: 420px;
    height: 36px;
    border-radius: 10px;
   
}

/* background-image: linear-gradient(to right ,#E61717 4.24% , #B33636 79.05% , #804040 100%); */

#box_button_remover_categoria{
    padding-top: 20px;
}

#botao_remove_plataforma{
    background-image: linear-gradient(to right ,#E61717 4.24% , #B33636 79.05% , #804040 100%);
}

@media(max-width: 900px){

}