@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap');

:root{
    --cor0: #020416;
    --cor1: #010A26;
    --cor2: #0d9fff;
    --cor3: #00484f;
    --cor4: #1c004f;
    --cor5: #ffffff;

    --fonte-padrao: 'Poppins';
    --fonte-destacamento: Tahoma ,sans-serif;
    --fonte-titulo: 'Salsa';
    --fonte-titulo2: Arial, Helvetica, sans-serif;
}

#bodyplataforma{
    /* background-color: var(--cor1); */
    background-image: linear-gradient(to bottom ,#023E62 48.62%, #010A26 96.01%  , #024872 100% );
    height: 100vh;

}

/*Main---------------------------------------------------------------------------------------------------------------------*/

#mainplataforma{
    max-width: 1500px;
    margin: auto;
    padding: 150px;
    text-align: center;
   
}

#footer01plataforma{
    position: relative;
    bottom: 0;
}

@media(max-width: 900px){
    #mainplataforma{
        padding: 20px;
    }

    #footer01plataforma{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}