:root {
    --cor0: #020416;
    --cor1: #010A26;
    --cor2: #0d9fff;
    --cor3: #00484f;
    --cor4: #1c004f;
    --cor5: #ffffff;
}

#bodyhome{
    background-color: var(--cor1);
}

/*Main (corpo)-------------------------------------------------------------------------------------------------------------------------------------*/

#mainhome{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 80px;
    text-align: center;
    
}

/*divisão das Secções----------------------------------------------------------------------------------------------------------------------------*/

.divisao{
    display: flex;
    align-items: center;
    margin: 35px 0;

    font-family: var(--fonte-titulo2);
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.divisao p{
    padding-left: 25px;
    padding-right: 25px;
}

.linha{
    flex: 1;
    border-top: 1px solid white;
    height: 0;
    margin: 0 5px;
}

/*Secção Ultimo Jogo----------------------------------------------------------------------------------------------------------------------------------*/
#ultimo_jogo{
    padding-bottom: 50px;
    
}

#ultimo_jogo img{
    width: 99%;
    height: 55vh;
    border-radius: 20px ;
    
}

#botao-jogar{
    float: left;
    margin-top: 20px;
}

/*Secção Mais Jogados no momento----------------------------------------------------------------------------------------------------------------------*/

.Imagem_mais_jogados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; /* Define o espaçamento entre as imagens */
}

.Mais_jogados img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    transition-duration: 0.8s;
}

.link_jogo{ /*Configuração global para todas as sections em relação ao link tanto da img e do texto que foi desativada a função :hover */
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-weight: 600;
    color: white;
    font-size: 16px;
    transition-duration: 0.8s;
    padding: 5px;
}

.link_img_jogo img:hover{
    transform: scale(1.1);
}

/*Secção Jogando Agora----------------------------------------------------------------------------------------------------------------------*/

.Imagens_jogando_agora{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

}

.Jogando_agora img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    transition-duration: 0.8s;

}

/*Zerados----------------------------------------------------------------------------------------------------------------------*/

.Imagens_zerados{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.Zerados img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    transition-duration: 0.8s;
}

/*Nunca Jogado---------------------------aqui ctem um erro de id e class que preferir nãp renomear para não atrapalhar o back-end-----------------------------------*/

.Imagens_categoria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;    
}

.Categoria img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    transition-duration: 0.8s;
}

.link_categoria{
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-weight: 600;
    color: white;
    font-size: 16px;
    transition-duration: 0.8s;
    padding: 5px;
}

.Categoria img:hover{
    transform: scale(1.1);

}

/*Não recomendados----------------------------------------------------------------------------------------------------------------------*/

.Imagens_nrecomendado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

}

.Nao_recomendados img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    transition-duration: 0.8s;

}

/*Footer-----------------------------------------------------------------------------------------------------------------------------*/
#footer01home {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
}

/* #footer01{
    margin: 0px;
    border: 0px;
    position: absolute; 
    bottom: 0;
    width: 100%;
    text-align: center;
} */

/* #footer01 {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

@media(max-width: 1100px){

    .linha{
        margin: 0 35px;
    }

    #ultimo_jogo img {
        width: 95%;
        height: 55vh;
        border-radius: 20px;
    }

    .Imagem_mais_jogados,.Imagens_zerados,.Imagens_jogando_agora,.Imagens_nrecomendado{
        padding-left: 30px;
        padding-right: 30px;
    }

    

}

@media(max-width: 900px){
    #bodyhome {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    #mainhome img{
        height:150px;
    }

    .linha{
        margin: 0 30px;
    }

    #footer01{
        position: relative;
    }

    /*Configurações globais fonte -----------------*/
    .link_jogo {
        font-size: 14px; /* Tamanho da fonte reduzido */
    }
    .link_categoria {
        font-size: 14px; /* Tamanho da fonte reduzido */
    }
    
    /*Ultimo Jogo ----------------------------------------*/
   
    #ultimo_jogo img{
        width: 320px;
        height: 200px;
    }

    #botao-jogar {
        width: 80%;
        margin-top: 10px;
        float: none;
        
    }

    /* Mais Jogados -----------------------------------------*/
    .Imagem_mais_jogados {
        gap: 20px; 
        padding-left: 20px;
        padding-right: 20px;
    }

    .Mais_jogados{
        padding: 10px;
    }

    .Mais_jogados img{
        width: 100%;
        height: 100px;
        
    }


    /* Zerados ------------------------------------------------*/
    .Imagens_zerados {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .Jogando_agora{
        padding: 20px;
    }

    .Jogando_agora img {
        width: 100%;
        height: 100px;
    }

    /* Nunca Jogados -------------------------------------------- Aqui existe um erro de class e id que preferir não mudar pela geração do código automatico do back-end*/
    .Imagens_categoria {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .Categoria img {
        width: 100%;
        height: 300px;
    }

    /* Não Recomendados --------------------------------------------*/
    .Imagens_nrecomendado {
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
    }
    
    .Nao_recomendados {
        padding: 20px;
    }

    .Nao_recomendados img{
        width: 100%;
        height: 100px;
    }


}

@media(max-width: 550px){
    .linha{
        margin: 0 0px;
    }
}